<br>
<h2>Hello + "username" + !</h2>
<br><br>
<ul class="collection">
    <li class="collection-item">Job Statistics / Summary <br>Number of Available Jobs: __ <br>Number of Completed Jobs:
        __</li>
</ul>
<br>
<div class="collection">
    <a href="./viewJobs.handlebars" class="collection-item">View Jobs</a>
    <a href="#!" class="collection-item">Add a Job</a>
</div>
<br><br><br>
<ul class="collection">
    <li class="collection-item">Child Statistics / Summary <br>Weekly Total Money Earned: __ <br>Weekly Total Money Spent: __ </li>
</ul>
<div class="collection">
    <a href="#!" class="collection-item">Child 1</a>
    <a href="#!" class="collection-item">Child 2</a>
    <a href="#!" class="collection-item">Add a Child</a>
</div>