<div class="row center">
    <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">SIGN
        IN</a>
</div>
<br><br>
<div class="row center">
    <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">SIGN
        IN</a>
</div>