<br>
<h2>Jobs Dashboard</h2>
<br><br>
<h3>Available Jobs - Click a Job to Assign to a Child</h3>
<br>
<ul class="collection">
    <li class="collection-item">Job Statistics / Summary <br>Number of Available Jobs: __ <br>Number of Completed Jobs:
        __</li>
</ul>
<br>
<div class="collection">
    <a href="#!" class="collection-item">Job 1</a>
    <a href="#!" class="collection-item">Job 2</a>
</div>
<br>
<div class="collection">
    <a href="#!" class="collection-item">Add a Job</a>
</div>