<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>SIGN IN</h4>
                <img src="./pusheen bank.png">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="text" type="text" class="validate">
                                <label for="text">Username</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" type="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="row center">
                            <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">SIGN
                                IN</a>
                        </div>
                    </form>
                </div>
                <br><br>
                <h6>Forgot password?</h6>
                <br>
                <h6>Don't have an account? <a href="../views/partials/signUp.handlebars">Sign Up</a></h6>
            </div>
        </div>
    </div>
</div>




{{!-- <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">Main Dashboard</h1>
            <div class="row center">
                <h5 class="header col s12 light">Please log in or create your account</h5>
            </div>
            <div class="row center">
                <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Log In</a>
            </div>
            <br><br>
        </div>
    </div>
    <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 1"></div>
</div> --}}